* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main: rgb(204, 204, 204);
    --border: rgb(48, 48, 48);
    --black: rgb(19, 19, 19);
    --white: rgb(255, 255, 255);
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    margin-bottom: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    background-color: var(--main);
}
#xo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
#xo > button {
    height: 50px;
    width: 70px;
    font-size: 30px;
    border: 3px solid var(--black);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}
.selected {
    background-color: rgb(55, 55, 255);
    color: white;
}
#gameboard-container {
    height: 500px;
    width: 500px;
    background-color: var(--border);
}
#gameboard {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
}
.box {
    font-size: 90px;
    text-align: center;
    line-height: 163px;
    height: 100%;
    width: 100%;
    background-color: var(--main);
}
.player-x-pop-up, .player-o-pop-up {
    position: absolute;
    top: 35%;
    background-color: var(--white);
    padding: 40px;
    border-radius: 20px;
    z-index: 10;
    transition: all 0.2s;
}
.closed {
    transform: scale(0);
}
.open {
    transform: scale(1);
}
label {
    font-size: 30px;
    margin-right: 15px;
}
input {
    padding: 9px;
    font-size: 30px;
}
#player-o-submit, #player-x-submit {
    font-size: 30px;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    margin: auto;
    margin-top: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.8);
}
.off {
    display: none;
}
.on {
    display: block;
}